<mat-card *ngIf="ad$|async as ad" class="card" fxLayout="column" fxLayoutAlign="space-between none">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <img class="ad-img" mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    </div>
    <mat-card-title-group fxLayout="column" fxLayoutAlign="space-between stretch">
        <mat-card-title>{{ad.title}}</mat-card-title>
        <mat-card-title>{{ad.price| currency}}</mat-card-title>
        <mat-card-subtitle>{{ad.location}}</mat-card-subtitle>
        <mat-card-subtitle>{{ad.date}}</mat-card-subtitle>
    </mat-card-title-group>


    <mat-card fxLayout="column">
        <mat-card-title>
            Description
        </mat-card-title>
        <mat-card-content>
            {{ad.description}}
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="user$|async as user" fxLayout="column" fxLayoutAlign="space-between start">
        <mat-card-title>
            About the seller
        </mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start start">
            <img class="profileImg" src="../../../assets/userProfile.png" />
            <mat-card-title class="seller-name">{{user.displayName}}</mat-card-title>
        </div>
        <p>Email: {{user.email}}</p>
        <p>Phone number: +375{{user.phoneNumber}}</p>
        <div fxLayout="row" *ngIf="currentUserUid === user.uid">
            <div fxLayout="row" fxLayoutAlign="start end">
                <a mat-stroked-button color="accent" routerLink="/edit/{{ad.id}}">Edit</a>
            </div>
            <div class="deleteBtn" fxLayout="row" fxLayoutAlign="end end">
                <a mat-stroked-button color="accent" (click)="deleteAd(ad.id)">Delete</a>
            </div>

        </div>

    </mat-card>

</mat-card>