<mat-card class="box" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
        <mat-card-title>Add ad</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput required [(ngModel)]="ad.title">
    </mat-form-field>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <mat-select matNativeControl required [(ngModel)]="ad.location">
                <mat-option value="Brest">Brest</mat-option>
                <mat-option value="Vitebsk">Vitebsk</mat-option>
                <mat-option value="Gomel">Gomel</mat-option>
                <mat-option value="Grodno">Grodno</mat-option>
                <mat-option value="Minsk">Minsk</mat-option>
                <mat-option value="Mogilev">Mogilev</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <h4>Category</h4>
    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select matNativeControl required [(ngModel)]="selectedCategory" [(ngModel)]="ad.category">
            <mat-option value="Realty">Realty</mat-option>
            <mat-option value="Computer">Computer</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Type Deal</mat-label>
            <mat-select matNativeControl required [(ngModel)]="ad.typeDeal">
                <mat-option value="Rent">Rent</mat-option>
                <mat-option value="Sale">Sale</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedCategory==='Computer'">
        <mat-form-field appearance="fill">
            <mat-label>Type of Computer</mat-label>
            <mat-select matNativeControl required [(ngModel)]="selectedTypeComputer" [(ngModel)]="ad.typeComputer">
                <mat-option value="Laptop">{{typeComputer.laptop}}</mat-option>
                <mat-option value="Computer">{{typeComputer.computer}}</mat-option>
                <mat-option value="Component">{{typeComputer.component}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.component">
        <mat-label>Producer</mat-label>
        <input matInput [(ngModel)]="ad.producer">
    </mat-form-field>

    <div *ngIf="selectedTypeComputer === typeComputer.laptop">
        <mat-form-field appearance="fill">
            <mat-label>Screen Diagonal</mat-label>
            <input matInput type="number" placeholder="Screen Diagonal" [(ngModel)]="ad.screenDiagonal">
        </mat-form-field>
    </div>

    <div *ngIf="selectedTypeComputer === typeComputer.laptop || selectedTypeComputer === typeComputer.computer">
        <mat-form-field appearance="fill">
            <mat-label>Operating system</mat-label>
            <mat-select matNativeControl [(ngModel)]="ad.operatingSystem">
                <mat-option value="Windows">Windows</mat-option>
                <mat-option value="MacOs">MacOs</mat-option>
                <mat-option value="Linux">Linux</mat-option>
                <mat-option value="DOS">DOS</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.computer">
        <mat-label>CPU</mat-label>
        <input matInput [(ngModel)]="ad.cpu">
    </mat-form-field>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.computer">
        <mat-label>Clock Frequency, GHz</mat-label>
        <input matInput type="number" placeholder="Clock Frequency, GHz" [(ngModel)]="ad.clockFrequency">
    </mat-form-field>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.computer">
        <mat-label>RAM</mat-label>
        <input matInput type="number" placeholder="RAM" [(ngModel)]="ad.ram">
    </mat-form-field>

    <div *ngIf="selectedTypeComputer === typeComputer.laptop || selectedTypeComputer === typeComputer.computer">
        <mat-form-field appearance="fill">
            <mat-label>GPU type</mat-label>
            <mat-select matNativeControl [(ngModel)]="ad.gpyType">
                <mat-option value="Dedicated">Dedicated</mat-option>
                <mat-option value="Integrated">Integrated</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.computer">
        <mat-label>GPU</mat-label>
        <input matInput [(ngModel)]="ad.gpu">
    </mat-form-field>

    <div *ngIf="selectedTypeComputer === typeComputer.laptop || selectedTypeComputer === typeComputer.computer">
        <mat-form-field appearance="fill">
            <mat-label>Storage type</mat-label>
            <mat-select matNativeControl [(ngModel)]="ad.storageType">
                <mat-option value="HDD">HDD</mat-option>
                <mat-option value="SSD">SSD</mat-option>
                <mat-option value="HDD + SSD">HDD + SSD</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.laptop || 
                           selectedTypeComputer === typeComputer.computer">
        <mat-label>Storage Capaciry</mat-label>
        <input matInput type="number" placeholder="Storage Capaciry" [(ngModel)]="ad.storageCapacity">
    </mat-form-field>

    <mat-form-field *ngIf="selectedTypeComputer === typeComputer.component">
        <mat-label>Component Type</mat-label>
        <input matInput [(ngModel)]="ad.componentType">
    </mat-form-field>

    <div *ngIf="selectedCategory === 'Computer'">
        <mat-form-field appearance="fill">
            <mat-label>Condition</mat-label>
            <mat-select matNativeControl [(ngModel)]="ad.condition">
                <mat-option value="New">New</mat-option>
                <mat-option value="Used">Used</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="selectedCategory==='Realty'">
        <mat-form-field appearance="fill">
            <mat-label>Type of House</mat-label>
            <mat-select matNativeControl required [(ngModel)]="selectedTypeRealty" [(ngModel)]="ad.typeHouse">
                <mat-option value="Flat">Flat</mat-option>
                <mat-option value="House">House</mat-option>
                <mat-option value="Ground">Ground</mat-option>
                <mat-option value="Garage">Garage</mat-option>
                <mat-option value="Commercial realty">Commercial Realty</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                selectedTypeRealty === typeRealty.house ||
                selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
        <p>Count rooms:
            <mat-button-toggle-group name="countRooms" aria-label="Font Style" [(ngModel)]="ad.countRooms">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5 and more">5 and more</mat-button-toggle>
            </mat-button-toggle-group>
        </p>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
        <h4>Type of commercial</h4>
        <mat-form-field appearance="fill">
            <mat-label>Type of commercial</mat-label>
            <mat-select matNativeControl [(ngModel)]="ad.typeCommercial">
                <mat-option value="Office">Office</mat-option>
                <mat-option value="Shops, commercial premises">Shops, commercial premises</mat-option>
                <mat-option value="Industrial premises">Industrial premises</mat-option>
                <mat-option value="Storage">Storage</mat-option>
                <mat-option value="Other commercial">Other commercial</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.house ||
                selectedTypeRealty === typeRealty.ground" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Land area</mat-label>
            <input matInput type="number" placeholder="Land area" [(ngModel)]="ad.landArea">
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Total area</mat-label>
            <input matInput type="number" placeholder="Total area" [(ngModel)]="ad.totalArea">
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                selectedTypeRealty === typeRealty.house" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Living space</mat-label>
            <input matInput type="number" placeholder="Living space" [(ngModel)]="ad.livingSpace">
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Floor</mat-label>
            <input matInput type="number" placeholder="Floor" [(ngModel)]="ad.floor">
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                selectedTypeRealty === typeRealty.house ||
                selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Floors of the house</mat-label>
            <input matInput type="number" placeholder="Floors of the house" [(ngModel)]="ad.floorsHouse">
        </mat-form-field>
    </div>
    <div *ngIf="selectedTypeRealty === typeRealty.flat || 
                selectedTypeRealty === typeRealty.house" ngDefaultControl>
        <mat-form-field appearance="fill">
            <mat-label>Year of constraction</mat-label>
            <input matInput type="number" placeholder="Year of constraction" [(ngModel)]="ad.yearConstraction">
        </mat-form-field>
    </div>


    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="ad.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Price</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="ad.price">
        <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <button mat-stroked-button color="accent" class="btn-block" (click)="saveAd()">Add ad</button>
</mat-card>